body {
  margin: 0;
  background-color: rgb(241, 242, 246);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(24, 27, 37);
}

h1 {
  margin: 0;

}

p {
  margin: 0;
}

button:hover {
  cursor: pointer;
}